{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "plugin:react/recommended",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".js", ".jsx"] }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": "off",
    "react/require-default-props": [2, { "functions": "defaultArguments" }],
    "no-unused-expressions": "off",
    "no-unused-vars": "warn",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
